@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Rambla:400,700');

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Rambla', sans-serif;
    color: #888;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.75em;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: #191919;

}


.home-page {
    background-color: #191919;
    width: 100%;
    position: relative;
    /*border: 1px solid blue;*/
}

.home-page .overlap {
    width: 100%;
    /*padding: 0 50px*/
    /*border: 1px solid blue;*/
}

.home-page .footer {
    width: 100%;
    border-radius: 15px;
}

.home-page .footer .small-footer {
    width: 100%;
    padding: 10px 0;
    background-color: #131314;
}

.home-page .small-footer .content {
    font-family: "Oswald-Regular", Helvetica, sans-serif;
    color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: normal;
    text-align: center;
}

.home-page .text-wrapper {
    color: #888888;
}

.home-page .span {
    color: #f68338;
}

.home-page .footer .big-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
}

.home-page .footer-item {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f68338b2;
    background: linear-gradient(180deg, rgba(38, 39, 43, 0.09) 0%, rgba(38, 39, 43, 0) 47.4%, rgba(38, 39, 43, 0.3) 100%);
}

.home-page .wrapper-wrapper {
    width: 100%;
    color: #969696;
    /*height: 364px;*/
    /*border: 1px solid green*/

}

.home-page .footer .wrapper {
    display: inline-flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    /*border: 1px solid red;*/
    margin: auto;
    /*align-content: center;*/
}

.home-page .footer .wrapper .img-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    /*border: 1px solid red;*/

}

.home-page .footer .wrapper .img-list .image {
    width: 50px;
    height: 50px;
    transition: .3s;
}

.home-page .footer .wrapper .img-list .image:hover {
    scale: 1.2;
    cursor: pointer;
}

.home-page .footer .wrapper .img-list .fast {
    width: 150px;
    height: 30px;
}


.home-page .address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    transition: .3s;
    /*border: 1px solid red;*/
}

.home-page .address-list:hover {
    background: rgba(179, 82, 9, 0.2);
    cursor: pointer;
}

.home-page .address-list .icon {
    width: 24px;
    height: 34px;
    /*border: 1px solid red;*/
}

.home-page .address {
    position: relative;
    /*align-self: stretch;*/
    width: 100%;
    height: 87px;
    /*border: 1px solid red;*/
}

.home-page .address-full {

    font-family: "Oswald-Regular", Helvetica, sans-serif;
    font-weight: 200;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    /*border: 1px solid blue;*/
    width: 80%
}

.home-page .address-full .text-wrapper-2 {
    font-family: "Oswald-Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
}

.home-page .address-full .text-wrapper-3 {
    font-family: "Oswald-Regular", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px
}

.home-page .location {
    position: absolute;
    width: 33px;
    height: 55px;
    top: 6px;
    left: 37px;
}

.home-page .div {
    position: relative;
    width: 430px;
    height: 88px;
}


.home-page .footer-item .title {
    /*position: absolute;*/
    width: 100%;
    height: 105px;
    top: 0;
    left: 0;
    /*border: 1px solid green*/
}

.home-page .footer-item .title-text {
    font-family: "Oswald-Regular", Helvetica, sans-serif;
    color: #969696;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;;
    padding: 20px 0;
    /*border: 1px solid green*/
    /*text-align: center;*/
}

.home-page .footer-item-2 {
    position: relative;
    width: 430px;
    height: 500px;
    border-radius: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f6833880;
    background: linear-gradient(180deg, rgba(38, 39, 43, 0.09) 0%, rgba(38, 39, 43, 0) 47.4%, rgba(38, 39, 43, 0.3) 100%);
}

.home-page .div-wrapper {
    /*position: absolute;*/
    width: 430px;
    height: 395px;
    top: 105px;
    left: 0;
}

.home-page .wrapper-2 {
    display: inline-flex;
    flex-direction: column;
    height: 259px;
    align-items: center;
    justify-content: center;
    gap: 33px;
    position: relative;
    top: 68px;
    left: 41px;
}

.home-page .cate {
    display: flex;
    position: relative;
    width: 100%;
    gap: 20px;
}

.home-page .cate .text {
    font-family: "Oswald-Light", Helvetica, sans-serif;
    font-size: 14px;
    color: #888888;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
    transition: .3s;
}

.home-page .cate .text:hover {
    color: #f68338;
}

.home-page .ico {
    /*position: absolute;*/
    width: 15px;
    height: 15px;

}

.home-page .overlap-group {
    position: relative;
    height: 500px;
}

.home-page .content-2 {
    position: absolute;
    width: 430px;
    height: 412px;
    top: 88px;
    left: 0;
}

.home-page .wrapper-3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: relative;
}

.home-page .p {
    font-family: "Oswald-Light", Helvetica, sans-serif;
    font-size: 14px;
    color: #888888;
    letter-spacing: 0;
    line-height: normal;
}

.home-page .img {
    /*position: absolute;*/
    /*width: 430px;*/
    height: 361px;

}

.home-page .services {
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    /*border: 1px solid greenyellow;*/
}

.home-page .name-title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.home-page .name-title .name {
    position: relative;
    width: fit-content;
    font-family: "Rambla-Bold", Helvetica, sans-serif;
    font-weight: 700;
    color: #f68338;
    font-size: 15px;
    letter-spacing: 6px;
    line-height: normal;
}

.home-page .name-title .title-4 {
    position: relative;
    width: fit-content;
    font-family: "Oswald-Regular", Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: normal;
}


.home-page .service-card {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    /*border: 1px solid red;*/
    /*height: 300px;*/
}

.home-page .content-wrapper {
    position: relative;
    padding: 10px 15px;
    width: 244px;
    flex: 25%;
    margin: 0 2%;
    border-radius: 15px;
    border: 1px solid transparent;
    top: 0;
    transition: .3s;
}

.home-page .content-wrapper:hover {
    border: 1px solid rgba(179, 82, 9, 0.53);
    background: rgba(179, 82, 9, 0.02);
    top: -15px;
    cursor: pointer;
}

.home-page .content-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
    /*border:  1px solid red;*/
}

.home-page .card-content {
    position: relative;
    width: 444px;
    height: 444px;
    border-radius: 15px;
    /*border: 1px solid #f68338;*/
}


.home-page .upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    /*border:  1px solid blue;*/
}

.home-page .web {
    position: relative;
    width: 70px;
    height: 70px;
}

.home-page .service-card .title {
    position: relative;
    width: 100%;
    font-family: "Oswald-Regular", Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 9px;
    /*border:  1px solid blue;*/
    text-align: center;
}

.home-page .lower {
    position: relative;
    font-family: "Rambla-Regular", Helvetica, sans-serif;
    font-weight: 400;
    color: #888888;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;
}


.home-page .rectangle {

    width: 100px;
    height: 100px;
    top: 1477px;
    left: 0;
    background-color: #d9d9d9;
}

.home-page .head {

    width: 100%;
    height: 100%;
    position: relative;
    /*border: 1px solid yellow;*/

}

.home-page .overlap-2 {
    position: relative;
    /*height: 900px;*/
}

.home-page .hero {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.home-page .left-image {
    position: relative;
    width: 30%;
    height: 650px;
    background-image: url(./img/fab.png);
    background-size: cover;
    background-position: 50% 50%;

}

.home-page .socials {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    z-index: 0;

}

.home-page .socials .icon {
    width: 40px;
    height: 40px;
    color: #f68338;
}


.home-page .bio {
    position: relative;
    flex: 1;
    margin-top: 150px;
    padding: 10px 0 0 5%;
    width: 60%;
    /*height: 670px;*/
    /*border: 1px solid red;*/
}


.home-page .addresses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    left: 0;
    margin-top: 20px;
}

.home-page .addresses .left {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.home-page .addresses .right {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.home-page .addresses .item {
    font-family: "Rambla-Bold", Helvetica, sans-serif;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;

}

.home-page .text-wrapper-4 {
    font-weight: 700;
    color: #ffffff;
}

.home-page .text-wrapper-5 {
    font-family: "Rambla-Regular", Helvetica, sans-serif;
    color: #ffffff;
}

.home-page .text-wrapper-6 {
    font-family: "Rambla-Regular", Helvetica, sans-serif;
    color: #888888;
}

.home-page .div-3 {
    position: relative;
    width: fit-content;
    font-family: "Rambla-Bold", Helvetica, sans-serif;
    font-weight: 400;
    color: transparent;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}


.home-page .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 37px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    /*border: 1px solid red;*/
}

.home-page .description {
    position: relative;
    /*align-self: stretch;*/
    /*height: 302px;*/
    font-family: "Rambla-Regular", Helvetica, sans-serif;
    font-weight: 400;
    color: #888888;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
}
.home-page .details .schools{
    margin: 10px ;
}

.bio .details .educ {
    display: flex;
    flex-direction: row;
    gap: 50px;
    transition: .3s;
    /*border: 1px solid red;*/
}

.bio .details .educ .desc p {
    padding: 0;
    margin-top: 0;
}

.bio .details .educ .year {
    font-family: "Oswald-Light", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.bio .details .educ .faculty {
    font-family: "Oswald-Light", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: white;
}

.bio .details .educ:hover {
    background: rgba(180, 175, 171, 0.2);
    cursor: pointer;
}

.bio .details .educ:hover .circle {
    background: #f68338;
}

.bio .details .educ .process {
    border-left: 1px solid #888888;
}

.bio .details .educ .circle {
    height: 20px;
    width: 20px;
    background: #969696;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: -10px;
}

.home-page .navigation {
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
    /*padding:20px;*/
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(25, 25, 25) 0%, rgba(25, 25, 25, 0.8) 44.95%, rgba(25, 25, 25, 0) 100%);
    /*border: 1px solid red;*/
}

.home-page .title-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    margin: 20px;
    /*border: 1px solid green;*/
}

.home-page .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rambla-Bold", Helvetica, sans-serif;
    font-weight: 700;
    color: #f68338;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
}

.home-page .subtitle {
    display: inline-flex;
    align-items: center;
    gap: 17px;
    position: relative;
    flex: 0 0 auto;
}

.home-page .starts {
    position: relative;
    width: 38px;
    height: 10px;
}

.home-page .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Rambla-Bold", Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 4px;
    line-height: normal;
    white-space: nowrap;
}

.home-page .nav {
    /*position: absolute;*/
    margin: 20px;
    width: 60%;
    /*border: 1px solid yellow;*/

}

.home-page .links {
    display: flex;
    gap: 100px;
    position: relative;
    list-style: none;
    /*border: 1px solid yellow;*/
}

.home-page .item {
    position: relative;
    width: fit-content;
    font-family: "Oswald-Light", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;

}

.home-page .item a {
    color: #969696;
    text-decoration: none;
    transition: .3s;
    border-bottom: 4px solid transparent;
    padding: 15px 10px;
}

.home-page .item a:hover {
    color: #f68338;
    border-bottom: 4px solid #f68338;
}

@media (min-width: 1440px) {
    body {
        padding: 0 50px;
    }
}

@media (min-width: 991px) and (max-width: 1440px) {
    body {
        padding: 0 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding: 0 30px;
    }

    .home-page .addresses .item {
        text-wrap: inherit;
    }
}

@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    .home-page .hero {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;

    }

    .home-page .left-image {
        position: relative;
        width: 100%;
        min-height: 650px;
        background-position: top;

    }

    .home-page .bio {
        margin-top: 20px;
        width: 100%;
    }

    .home-page .content-wrapper {
        padding: 10px 15px;
        width: 100%;
        flex: 100%;
        margin: 5px 50px
    }
    .home-page .services .name-title{
        margin-left: 30px;
    }
    .home-page .footer-item {
        width: 100%;
        margin: 5px 50px;
    }

    .home-page .links {
        gap: inherit;
    }

}
